body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(16,44,73,1) 100%);
    text-align: center;
}

h1 {
    background-color: #1a0a24;
    height: 80%;
    width: 60%;
    text-align: center;
    color: antiquewhite ;
    margin-left: 20%;
    border-radius: 20px;
    padding-bottom: 10px;
    font-size: 50px;
}

button{
    padding: 7px 30px;
    padding-bottom: 5px;
    background-color: rgb(223, 213, 201);
    border-radius: 20px;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 6px 6px 4px rgb(66, 63, 63);
}
button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: 0px 0px 0px;
}
.none{
    display: none;
    position: relative;
    bottom: 50px
}
.initial{
    display: initial;
}
.maindiv{
    margin-top: 10vh;
}
#subscribe{
    position: sticky;
    top: 10vh;
}
img{
    width: 90px;
}